package layout

templ Base() {
	<html>
		<header>
			<script src="https://unpkg.com/htmx.org@1.9.9" integrity="sha384-QFjmbokDn2DjBjq+fM+8LUIVrAgqcNW2s0PjAxHETgRn9l4fvX31ZxDxvwQnyMOX" crossorigin="anonymous"></script>
		</header>
		<body>
			{ children... }
		</body>
	</html>
}
