package layout

templ Base() {
	<html>
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			<title>TODO</title>
			<link rel="stylesheet" href="/dist/main.css"/>
			<script src="/dist/htmx.min.js"></script>
		</head>
		<body>
			<div class="h-100 w-full flex items-center justify-center bg-teal-lightest font-sans">
				{ children... }
			</div>
		</body>
	</html>
}
